<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <!-- COMMON TAGS -->
        <meta charset="utf-8">
        <title>Discover - TidyStory</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Search Engine -->
        <meta name="description" content="Find and collect social media posts at one place.">
        <meta name="image" content="/static/img/mtidystory.png">
        <!-- Schema.org for Google -->
        <meta itemprop="name" content="TidyStory">
        <meta itemprop="description" content="Find and collect social media posts at one place.">
        <meta itemprop="image" content="/static/img/mtidystory.png">
        <!-- Twitter -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:title" content="TidyStory">
        <meta name="twitter:description" content="Find and collect social media posts at one place.">
        <meta name="twitter:site" content="@tidystory">
        <meta name="twitter:creator" content="@tidystory">
        <meta name="twitter:image:src" content="/static/img/mtidystory.png">
        <!-- Open Graph general (Facebook, Pinterest & Google+) -->
        <meta name="og:title" content="TidyStory">
        <meta name="og:description" content="Find and collect social media posts at one place.">
        <meta name="og:image" content="/static/img/mtidystory.png">
        <meta name="og:url" content="https://tidystory.com">
        <meta name="og:site_name" content="TidyStory">
        <meta name="og:locale" content="en_US">
        <meta name="fb:admins" content="100009162029085">
        <meta name="fb:app_id" content="1791870674256874">
        <meta name="og:type" content="website">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/css/bulma.css">
        <link rel="stylesheet" href="/static/css/style.css">
        <!-- Favicons -->
        <link rel="apple-touch-icon" sizes="180x180" href="/static/img/meta/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/img/meta/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/img/meta/favicon-16x16.png">
        <link rel="manifest" href="/static/img/meta/site.webmanifest">
        <link rel="mask-icon" href="/static/img/meta/safari-pinned-tab.svg" color="#353535">
        <link rel="shortcut icon" href="/static/img/meta/favicon.ico">
        <meta name="msapplication-TileColor" content="#000000">
        <meta name="msapplication-config" content="/static/img/meta/browserconfig.xml">
        <meta name="theme-color" content="#000000">
    </head>
    <body class="sans-serif push-sf has-navbar-fixed-top">
        <nav class="navbar is-black is-spaced is-fixed-top">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item" href="/">
                        <img src="/static/img/logo-white.png" alt="Tidystory" width="90">
                    </a>
                    <a role="button" class="navbar-burger has-text-white" data-target="navMenu" aria-label="menu" aria-expanded="false">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>
                </div>
                <div class="navbar-menu" id="navMenu">
                    <div class="navbar-end">
                        <input class="input navbar-item l-space search-bar sb-dark" id="searchbar" type="search" placeholder="Search...">
                        <a class="navbar-item button is-dark l-space" href="/">
                            <span class="icon has-text-warning">
                                <i class="fas fa-star"></i>
                            </span>
                            <span>My Stories</span>
                        </a>
                        <a class="navbar-item button is-dark l-space create-story" href="#">Create Story</a>
                        <div class="navbar-item has-dropdown is-hoverable l-space">
                            <a class="navbar-link">
                                <img src="{{user.photoURL}}" alt="Tidystory">
                            </a>
                            
                            <div class="navbar-dropdown is-right">
                                <a class="navbar-item">
                                    Help Desk
                                </a>
                                <a class="navbar-item">
                                    Bug Report
                                </a>
                                <a class="navbar-item" href="/signout">
                                    Log Out
                                </a>
                                <hr class="navbar-divider">
                                <div class="navbar-item">
                                    Version 0.8.1
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <div class="has-background-white featured-content">
          <main class="storm-spacer container">              
              <div class="featured-area" id="featured-area">
                {% if featured %}
                <div class="columns">
                    <div class="column is-half gross-hp-title">
                        <div class="mfixedbox">
                         <span class="tag is-dark is-small">Featured</span>
                        </div>
                        {% if featured.title|length > 52 %}
                        <h2>{{featured.title[:52]}}...</h2>
                        {% else %}
                        <h2>{{featured.title}}</h2>
                        {% endif %}
                        <p>{{featured.desc[:90]}}... <a href="/collection/{{featured.collection_id}}">Read More</a></p>
                        <h5>By {{featured.author.name}}</h5>
                    </div>
                    <div class="column is-half">
                      <div class="featured-img" style="background-image: url('{{featured.image_url}}')"></div>
                    </div>
                </div>          
                {% else %}
                <h4 class="gross-title title is-5">Featured</h4>
                <div class="no-stories-badge">
                    <h2>Nothing here yet</h2>
                    <p>Create a collection or <a href="/discover">check out some cool ones here</a></p>
                </div>
                {% endif %}
              </div>
          </main>
        </div>
        <div class="container main-area">
          <div class="columns">
            <div class="column is-7">
              <div class="box dfixedbox fixed-box">
                <span>View Popular Collections</span> or <a href="/">Manage your stories and collections</a>
              </div>
              <div class="box mfixedbox fixed-box">
                <span>Popular Collections</span>
              </div>
              {% for collection in collections.values()|sort(attribute='time')|reverse %}
              <div class="box cbox">
                  <a href="/collection/{{collection.collection_id}}">
                  <figure class="image is-2by1 collection-img">
                    <img src="{{collection.image_url}}" alt="Placeholder image">
                  </figure>
                  </a>
                  <div class="content">
                    <div class="media-content">
                      <p class="hp-col-title title is-4">{{collection.title}}</p>
                    </div>
                    <div class="content hp-col-desc">
                      <p>{{collection.desc[:120]}}...<a href="/collection/{{collection.collection_id}}">Read More</a></p>
                      <p class="creds"><span>By</span> {{collection.author.name}}</p>
                    </div>
                  </div>
              </div>
              {% endfor %}
            </div>
            <div class="column is-5">
                <div class="box cbox">
                  <h1 class="sb-box-title">Recent <span>Stories</span></h1>
                  <ul>
                    {% for story in storms.values()|sort(attribute='timestamp')|reverse %}
                    <li class="sb-item">
                      <a href="/storm/{{story.story_id}}">
                        <article class="media">
                          <figure class="media-left">
                            <h1 class="title is-1 counter">{{loop.index}}</h1>
                          </figure>
                          <div class="media-content">
                            <div class="content">
                              <p class="list-item-counter">
                                <strong>Story by @{{story.author.handle}}</strong><br>
                                <span>{{story.master_tweet.text[:130]}}</span>
                              </p>
                            </div>
                          </div>
                        </article>
                      </a>
                    </li>
                    {% endfor %}
                  </ul>
                </div>
                <div class="box cbox">
                  <h1 class="sb-box-title">Trending <span>Stories</span></h1>
                  <ul>
                    {% for story in active.values()|sort(attribute='totalAnnotations')|reverse %}
                    <li class="sb-item">
                      <a href="/storm/{{story.story_id}}">
                        <div class="media-content">
                          <div class="content">
                            <p class="list-item-counter">
                              <strong>Story by @{{story.author.handle}}</strong><br>
                              <span>{{story.master_tweet.text[:80]}}...</span>
                            </p>
                          </div>
                        </div>
                      </a>
                    </li>
                    {% endfor %}
                  </ul>
                </div>
            </div>
          </div>
        </div>
        <footer class="c-footer">
            <div class="container">
                <div class="columns">
                    <div class="column is-6">
                        <p class="buttons">
                          <a class="button is-info is-small" href="https://twitter.com/tidystory" target="_blank">
                            <span class="icon is-small">
                              <i class="fab fa-twitter"></i>
                            </span>
                            <span>@tidystory on Twitter</span>
                          </a>
                          <a class="button is-dark is-small" href="https://facebook.com/tidystory" target="_blank">
                              <span class="icon is-small">
                                <i class="fab fa-facebook"></i>
                              </span>
                              <span>TidyStory on Facebook</span>
                          </a>
                          <span class="mfixedbox">
                          <a class="button is-black is-small" href="/terms">
                              <span>Terms of Service</span>
                          </a>
                          <a class="button is-black is-small" href="/privacy">
                              <span>Privacy Policy</span>
                          </a>
                          </span>
                        </p>
                    </div>
                    <div class="column is-6">
                      <p class="buttons is-right">
                        <span class="dfixedbox">
                          <a class="button is-black is-small" href="/terms">
                            <span>Terms of Service</span>
                          </a>
                          <a class="button is-black is-small" href="/privacy">
                            <span>Privacy Policy</span>
                          </a>
                        </span>
                      </p>
                    </div>
                </div>
            </div>
        </footer>
        <div class="modal create-modal">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Create Story</p>
                </header>
                <section class="modal-card-body">
                    <div class="notification is-warning error-holder">
                        <span class="error-message"></span>
                    </div>
                    <p>Paste a link to a tweet <strong>from the thread you wish to unroll</strong>. You can also unroll directly from Twitter by replying to the tweet and mentioning <a href="https://twitter.com/tidystory" target="_blank">@tidystory</a> in the reply.</p>
                    <br>
                    <div class="control">
                        <input class="input is-medium story-link" type="text" placeholder="Link to tweet">
                    </div>
                </section>
                <footer class="modal-card-foot">
                    <button class="button is-dark send-story">Create Story</button>
                    <button class="button create-modal-close">Maybe Later</button>
                </footer>
                <button class="modal-close create-modal-close is-large" aria-label="close"></button>
            </div>
        </div>
    </body>
    <script src="https://www.gstatic.com/firebasejs/5.0.4/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.0.4/firebase-auth.js"></script>
    {% assets "landing_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125829731-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-125829731-1');
    </script>
</html>