{% extends "private/base.html" %}
{% block title %}{{title}}{% endblock %}
{% block content %}
<div class="has-background-white">
  <main class="content-sf storm-spacer container">
      <div class="welcome-text">
        <h1 class="title is-1">Search results for "{{keyword}}"...</h1>
        <div class="semi-hr"></div>
      </div>

      <div class="stories-area area" id="stories-area">
        <div class="level">
          <div class="level-left">
            <h4 class="gross-title title is-3">Stories</h4>
          </div>
        </div>
        <div class="columns is-multiline">   
          {% if storms.keys()|length >= 1 %}        
          {% for stormId in storms %}
            <div class="column cc-box is-3">
                <a class="card" {% if storms[stormId].is_ready %}href="/storm/{{stormId}}"{% endif %}>
                    <header class="card-header">
                      <span class="card-header-icon">
                        <span class="icon has-text-info">
                          <i class="fab fa-2x fa-twitter-square" aria-hidden="true"></i>
                        </span>
                      </span>
                      <p class="card-header-title">
                        @{{storms[stormId].author.handle}}
                      </p>
                      {% if not storms[stormId].is_ready %}
                      <span class="card-header-icon pmt-trigger">
                          <span class="icon">
                            <i class="fas fa-question-circle" aria-hidden="true"></i>
                          </span>
                      </span>
                      {% endif %}
                    </header>
                    <div class="card-content storm-card">
                      <div class="content">
                        {{storms[stormId].master_tweet.text[:170]}}...
                      </div>
                    <time>{{storms[stormId].vis_timestamp}}</time>
                    </div>
                </a>
            </div>
          {% endfor %}
          {% else %}
          <div class="no-stories-badge">
            <h2>Nothing here yet</h2>
            <p>Create a story or <a href="/">check out some cool ones here</a></p>
          </div>
          {% endif %}
          </div>
          <div class="semi-hr"></div>
      </div>
      <div class="collections-area area" id="collections-area">
          <div class="level">
              <div class="level-left">
                <h4 class="gross-title title is-3">Collections</h4>
              </div>
            </div>
          <div class="columns is-multiline">    
              {% if collections.keys()|length >= 1 %}       
              {% for collection in collections.values() %}
                <div class="column is-3">
                    <a class="card col-card" href="/collection/{{collection.collection_id}}">
                      <div class="card-image">
                        <figure class="image">
                          <img src="{{collection.image_url}}" class="col-tile-img" alt="{{collection.title}}">
                        </figure>
                      </div>
                      <div class="card-content col-card-mh">
                          <div class="content">
                            <p class="title is-4">{{collection.title[:30]}}...</p>
                            <p class="subtitle is-6">by <strong>@{{collection.author.name}}</strong></p>
                          </div>
                          <time>{{collection.timestamp}}</time>
                      </div>
                    </a>
                </div>
              {% endfor %}
              {% else %}
              <div class="no-stories-badge">
                  <h2>Nothing here yet</h2>
                  <p>Create a collection or <a href="/">check out some cool ones here</a></p>
              </div>
              {% endif %}
          </div>
      </div>
  </main>
</div>
{% endblock %}